<div class="nav">
<a href="/">Home</a>
<a href="/register">Register Book</a>
<a href="/show">Show Books</a>
<a href="/about">About</a>
</div>


<!-- Home(/) | Register Book(/register) | Show Books(/show) | About(/about) -->